body {
  font-family: 'Roboto Mono',monospace;
  background-image: url('https://img.freepik.com/fotos-gratis/calculadora-de-vista-superior-e-quadro-de-notebook_23-2149103980.jpg?w=2000'); 
}

.container {
  text-align: center;
  padding: 50px;
}

.page-title {
  color: black;
  margin: 0 0 5px;
}

.page-subtitle {
  color: black;
  margin-top: 5px;
}

.page-logo {
  width: 150px;
}

.alura-logo {
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.alura-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.notas-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  margin: 200px;
}

fieldset {
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

input {
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 350px;
}

legend {
  text-align: center;
  color: black;
}

button {
  border: none;
  border-radius: 8px;
  margin: 20px;
  padding: 12px;
  background-color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: red;
}

.notas-input {
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-result {
  display: flex;
  justify-content: center;
}

#resultado {
  color: black;
  font-family: 'Roboto', monospace;
  padding-top: 12px;
  
  text-align: center;
}
.avisoderegra {
  color: black;
  text-align: center;
}
